.center-form {
  max-width: 768px;
  margin: auto;
}

.mute-toolbar {
  background: #f2f2f2 !important;
  color: #616161 !important;
  border-bottom: 1px solid #e5e5e5;
}

.signup-seperator {
  color: #dce0e0;
}

.signup-seperator .line {
  border: 1px solid #dce0e0;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.profile-picture {
  height: 100px;
  display: block;
}


/*********************
* Social Buttons
*********************/

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}