.center-form {
  max-width: 768px;
  margin: auto;
}

.mute-toolbar {
  background: #f2f2f2 !important;
  color: #616161 !important;
  border-bottom: 1px solid #e5e5e5;
}

.signup-seperator {
  color: #dce0e0;
}

.signup-seperator .line {
  border: 1px solid #dce0e0;
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.profile-picture {
  height: 100px;
  display: block;
}


/*********************
* Social Buttons
*********************/

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: #fff;
  background-color: #0069a4;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}

.btn-foursquare {
  color: #fff;
  background-color: #f94877;
  border: 1px solid #f8215a;
}

.btn-foursquare:hover,
.btn-foursquare:focus {
  color: #fff;
  background-color: #f71752;
}

.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
  background-color: #303030;
}

.btn-yahoo {
  color: #fff;
  background-color: #720e9e;
  border: 1px solid #580b75;
}

.btn-yahoo:hover,
.btn-yahoo:focus {
  color: #fff;
  background-color: #303030;
}

.btn-live {
  color: #fff;
  background-color: #2672ec;
}

.btn-live:hover,
.btn-live:focus {
  color: #fff;
  background-color: #125acd;
}
