<md-content layout-margin layout="column" class="center-form">
  <section class="md-whiteframe-z1" flex>
    <md-toolbar class="mute-toolbar">
      <div class="md-toolbar-tools">
        <h3>Update your profile</h3>
      </div>
    </md-toolbar>
    <md-content layout-padding layput-margin layout="row">
      <div class="form-group">
        <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
      </div>
      <form flex method="post" name="profileForm" ng-submit="updateProfile()">
        <md-input-container class="md-icon-float">
          <label>Name</label>
          <md-icon>person</md-icon>
          <input ng-model="user.displayName">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <label>Email Address</label>
          <md-icon>email</md-icon>
          <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <label>New Password</label>
          <md-icon>lock</md-icon>
          <input ng-model="user.newPassword" type="password">
        </md-input-container>
        <div layout="row">
          <div flex>
            <md-input-container ng-if="user.providers.indexOf('local') !== -1">
              <label>Confirm the changes with your current password</label>
              <input ng-model="user.oldPassword" type="password" name="oldPassword" required>
            </md-input-container>
          </div>
          <md-button class="btn-primary" ng-disabled="profileForm.$invalid">Update Information</md-button>
        </div>
      </form>
    </md-content>
  </section>

  <md-content layout-padding>
    <div layout="row" layout-margin>
      <md-button flex class="md-warn" ng-if="user.facebook" ng-click="unlink('facebook')">
        <md-icon md-svg-src="images/social-facebook.svg" class=" login-icon"></md-icon> Unlink Facebook Account
      </md-button>
      <md-button flex class="md-primary" ng-if="!user.facebook" ng-click="link('facebook')">
        <md-icon md-svg-src="images/social-facebook.svg" class=" login-icon"></md-icon> Link Facebook Account
      </md-button>
      <md-button flex class="md-warn" ng-if="user.google" ng-click="unlink('google')">
        <md-icon md-svg-src="images/social-google.svg" class=" login-icon"></md-icon> Unlink Google Account
      </md-button>
      <md-button flex class="md-primary" ng-if="!user.google" ng-click="link('google')">
        <md-icon md-svg-src="images/social-google.svg" class=" login-icon"></md-icon> Link Google Account
      </md-button>
    </div>
  </md-content>

</md-content>
