<md-content layout-margin layout="column">
  <section class="md-whiteframe-z1" flex>
    <md-toolbar class="mute-toolbar">
      <div class="md-toolbar-tools">
        <h3>Profile</h3>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <form method="post" ng-submit="updateProfile()">
        <i class="ion-clipboard"></i> Edit My Profile
        <md-divider></md-divider>
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
        </div>
        <md-input-container>
          <label>Name</label>
          <input ng-model="user.displayName">
        </md-input-container>
        <md-input-container>
          <label>Email Address</label>
          <input ng-model="user.email" type="email">
        </md-input-container>
        <md-button class="btn-primary">Update Information</md-button>
      </form>
    </md-content>
  </section>
  <section class="md-whiteframe-z1" flex>
    <md-toolbar class="mute-toolbar">
      <div class="md-toolbar-tools">
        <h3>Change Password</h3>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <form method="post" ng-submit="changePassword()">
        <md-input-container>
          <label>Old Password</label>
          <input ng-model="oldPassword">
        </md-input-container>
        <md-input-container>
          <label>New Password</label>
          <input ng-model="newPassword">
        </md-input-container>
        <md-button class="btn-primary">Change Password</md-button>
      </form>
    </md-content>
  </section>
  <section class="md-whiteframe-z1" flex>
    <md-toolbar class="mute-toolbar">
      <div class="md-toolbar-tools">
        <h3>Accounts</h3>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <i class="ion-link"></i> Linked Accounts
      <md-divider></md-divider>
      <div layout="column" layout-margin>
        <md-button flex class="md-warn" ng-if="user.facebook" ng-click="unlink('facebook')">
          <i class="ion-social-facebook"></i> Unlink Facebook Account
        </md-button>
        <md-button flex class="md-primary" ng-if="!user.facebook" ng-click="link('facebook')">
          <i class="ion-social-facebook"></i> Link Facebook Account
        </md-button>
        <md-button flex class="md-warn" ng-if="user.google" ng-click="unlink('google')">
          <i class="ion-social-googleplus"></i> Unlink Google Account
        </md-button>
        <md-button flex class="md-primary" ng-if="!user.google" ng-click="link('google')">
          <i class="ion-social-googleplus"></i> Link Google Account
        </md-button>
        <md-button flex class="md-warn" ng-if="user.twitter" ng-click="unlink('twitter')">
          <i class="ion-social-twitter"></i> Unlink Twitter Account
        </md-button>
        <md-button flex class="md-primary" ng-if="!user.twitter" ng-click="link('twitter')">
          <i class="ion-social-twitter"></i> Link Twitter Account
        </md-button>
      </div>
    </md-content>
  </section>
</md-content>
