<md-content layout-margin layout="column" class="center-form">

  <section class="md-whiteframe-z1" flex>
    <md-toolbar class="mute-toolbar">
      <div class="md-toolbar-tools">
        <h3>Angular Express Starter</h3>
      </div>
    </md-toolbar>
    <md-content layout-padding layput-margin layout="row">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </md-content>
  </section>

  <md-content layout-padding>
    <div layout="row" layout-margin>
      <md-button flex ng-href="https://github.com/dotch/angular-express-starter">Github project</md-button>
      <md-button flex ng-href="https://github.com/dotch/angular-express-starter/issues">Report issue</md-button>
    </div>
  </md-content>
  
</md-content>
